Source: ukui-bluetooth
Section: x11
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>,
           Kevin Duan <duankaiwen@ubuntukylin.com>,
           tang guang <tangguang@kylinos.cn>
Build-Depends: debhelper-compat (= 13),
               libgsettings-qt-dev,
               libglib2.0-dev,
               libkf5bluezqt-dev,
               libkf5windowsystem-dev,
               libqt5x11extras5-dev,
               libxrandr-dev,
               libxinerama-dev,
               libxi-dev,
               libxcursor-dev,
               libukui-log4qt-dev
#               libkf5bluezqt6-dev
Standards-Version: 4.6.0.1
Rules-Requires-Root: no
Homepage: https://github.com/ukui
Vcs-Browser: https://github.com/ukui/ukui-bluetooth
Vcs-Git: https://github.com/ukui/ukui-bluetooth.git

Package: ukui-bluetooth
Architecture: any
Depends: libkf5bluezqt6,
         libkf5bluezqt-data,
         libnotify-bin,
         bluez (>= 5),
         bluez-obexd,
         peony-extensions (>= 3.2.2+0611),
         ${shlibs:Depends},${misc:Depends}
Recommends: pulseaudio-module-bluetooth
Conflicts: blueman
Description: Manual for UKUI desktop environment
 A lightweight Bluetooth tool based on libkf5bluezqt6.
 There is a simple UI interface to help you use.
